/.metadata/
PrintifyProject/.idea/dataSources/fe2a1331-0b83-49c2-9d6d-d90b99be5982.xml
PrintifyProject/.idea/dataSources/fe2a1331-0b83-49c2-9d6d-d90b99be5982/storage_v2/_src_/database/printify-db.3CnqEA.meta
PrintifyProject/.idea/dataSources/fe2a1331-0b83-49c2-9d6d-d90b99be5982/storage_v2/_src_/database/printify-db.3CnqEA/schema/dbo.sYMBAA.meta
PrintifyProject/.idea/dataSources/fe2a1331-0b83-49c2-9d6d-d90b99be5982/storage_v2/_src_/database/printify-db.3CnqEA/schema/dbo.sYMBAA.zip
PrintifyProject/.idea/dataSources/fe2a1331-0b83-49c2-9d6d-d90b99be5982/storage_v2/_src_/database/printify-db.3CnqEA/schema/INFORMATION_SCHEMA.NBgcMw.meta
PrintifyProject/.idea/dataSources/fe2a1331-0b83-49c2-9d6d-d90b99be5982/storage_v2/_src_/database/printify-db.3CnqEA/schema/sys.zb4BAA.meta
PrintifyProject/.idea/dataSources.local.xml
PrintifyProject/.idea/dataSources/e0fbf0f1-248d-4dcb-b238-f1d40acec3d8.xml
PrintifyProject/.idea/dataSources.local.xml
PrintifyProject/.idea/dataSources/e0fbf0f1-248d-4dcb-b238-f1d40acec3d8.xml
PrintifyProject/printify.log
PrintifyProject/printify.log
